<div class="category-box">
  <div class="category-form">
    <h3>Add Category</h3>
    <form
      [formGroup]="CategoryForm"
      (ngSubmit)="onSubmitCreate()"
      class="category-form__form"
    >
      <mat-form-field class="category-form__row" appearance="fill">
        <mat-label>Category Name</mat-label>
        <input
          type="text"
          matInput
          placeholder="Your category name"
          formControlName="categoryName"
        />
      </mat-form-field>

      <div class="expenseIncome">
        <input
          class="expense-radio-input"
          type="radio"
          id="expense"
          value="expense"
          formControlName="categoryType"
        />
        Expense

        <label class="expense-radio" for="expense">
          <mat-icon class="expense-radio-position">arrow_upward</mat-icon>
        </label>

        <input
          class="income-radio-input"
          type="radio"
          id="income"
          value="income"
          formControlName="categoryType"
        />

        <label class="income-radio" for="income">
          <mat-icon class="income-radio-position">arrow_downward</mat-icon>
        </label>
        Income
      </div>

      <button
        *ngIf="activeId !== undefined"
        type="submit"
        color="primary"
        [disabled]="CategoryForm.invalid"
        mat-raised-button
        mat-dialog-close
      >
        Accept
      </button>
    </form>
    <button mat-button mat-dialog-close>Close</button>
  </div>
</div>
