@use 'src/variable' as var;

.reg-box {
  height: 100%;
  border-radius: 25px;
  width: 40%;
  background-color: var.$app-white;
  margin: 0 auto;
  padding-top: 10rem;
}

.reg-form {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__title {
    color: rgb(0, 0, 0);
  }

  &__row {
    width: 30rem;
  }

  &__form {
    display: contents;
  }
}

.auth-button-reg {
  margin-top: 1rem;
  text-decoration: none;
  color: var.$base-color;
}

.auth-button-reg:hover {
  font-size: 2rem;
  transition: ease-in-out 1s;
}

@media screen and (max-width: 900px) {
  .reg-box {
    width: 100%;
  }
}

::ng-deep .custom-style {
  background-color: rgb(37, 177, 81);
  color: white;
}
::ng-deep .custom-styleRed {
  background-color: rgb(212, 49, 8);
  color: white;
}
