@use 'src/variable' as var;

.left-section-box {
  font-family: Space Grotesk;
  display: flex;
  flex-direction: column;
}

.left-section-header {
  font-family: Alata;
  font-size: 3rem;
  margin-left: 6%;
  text-transform: uppercase;
}

@media screen and (max-width: 900px) {
  .left-section-header {
    margin: 0 auto;
    padding: 3px;
  }
}
