<div *ngIf="this.noCards === true">
  <h2 class="noCard-message">No cards available.</h2>
  <div class="left-section-card">
    <div class="noCard">
      <h2 class="cardAdd">Add a new card</h2>
      <mat-icon (click)="createCard()" [inline]="true" class="addCard"
        >library_add</mat-icon
      >
    </div>
  </div>
</div>

<div *ngFor="let n of arrOfCards; let i = index">
  <div
    [ngClass]="{ activeCard: n._id === activeCardId }"
    routerLink="transactions/{{ n._id }}"
    class="left-section-card"
    (click)="onCardClick(n._id)"
  >
    <div class="left-side">
      <h1 class="cardName">{{ n.cardName }}</h1>
      <h1 class="cardAmount">{{ n.cardAmount }}</h1>
      <mat-icon class="cardIcon" (click)="openCardWindow(n._id)"
        >payment</mat-icon
      >
    </div>

    <div class="card-currency">{{ n.currency }}</div>
  </div>
</div>
