<div *ngFor="let n of arrOfCards; let i = index">
  <div
    [ngClass]="{ activeCard: n._id === activeCardId }"
    routerLink="transactions/{{ n._id }}"
    class="left-section-card"
    (click)="onCardClick(n._id)"
  >
    <div class="left-side">
      <h1 class="cardName">{{ n.cardName }}</h1>
      <h1 class="cardAmount">{{ n.cardAmount }}</h1>
      <mat-icon class="cardIcon" (click)="openCardWindow(n._id)"
        >payment</mat-icon
      >
    </div>

    <div class="card-currency">{{ n.currency }}</div>
  </div>
</div>
