<div class="category-box">
  <div *ngFor="let n of arrOfCategories">
    <div
      class="category-expense"
      *ngIf="n.categoryType === 'expense' && n.cardId === this.activeId"
    >
      <h1 class="category-name">{{ n.categoryName }}</h1>
      <mat-icon>build</mat-icon>
      <mat-icon>delete_forever</mat-icon>
    </div>
  </div>

  <div *ngFor="let n of arrOfCategories">
    <div
      class="category-income"
      *ngIf="n.categoryType === 'income' && n.cardId === this.activeId"
    >
      <h1 class="category-name">{{ n.categoryName }}</h1>
      <mat-icon>build</mat-icon>
      <mat-icon>delete_forever</mat-icon>
    </div>
  </div>
</div>
