<div class="category-box">
  <div class="category-expense">
    <h1 class="category-name">Home</h1>
    <mat-icon>build</mat-icon>
    <mat-icon>delete_forever</mat-icon>
  </div>

  <div class="category-income">
    <h1 class="category-name">Home</h1>
    <mat-icon>build</mat-icon>
    <mat-icon>delete_forever</mat-icon>
  </div>

  <div class="category-expense">
    <h1 class="category-name">Home</h1>
    <mat-icon>build</mat-icon>
    <mat-icon>delete_forever</mat-icon>
  </div>

  <div class="category-income">
    <h1 class="category-name">Home</h1>
    <mat-icon>build</mat-icon>
    <mat-icon>delete_forever</mat-icon>
  </div>

  <div class="category-expense">
    <h1 class="category-name">Home</h1>
    <mat-icon>build</mat-icon>
    <mat-icon>delete_forever</mat-icon>
  </div>

  <div class="category-income">
    <h1 class="category-name">Home</h1>
    <mat-icon>build</mat-icon>
    <mat-icon>delete_forever</mat-icon>
  </div>

  <div class="category-expense">
    <h1 class="category-name">Home</h1>
    <mat-icon>build</mat-icon>
    <mat-icon>delete_forever</mat-icon>
  </div>

  <div class="category-income">
    <h1 class="category-name">Home</h1>
    <mat-icon>build</mat-icon>
    <mat-icon>delete_forever</mat-icon>
  </div>

  <div class="category-expense">
    <h1 class="category-name">Home</h1>
    <mat-icon>build</mat-icon>
    <mat-icon>delete_forever</mat-icon>
  </div>

  <div class="category-income">
    <h1 class="category-name">Home</h1>
    <mat-icon>build</mat-icon>
    <mat-icon>delete_forever</mat-icon>
  </div>

  <div class="category-expense">
    <h1 class="category-name">Home</h1>
    <mat-icon>build</mat-icon>
    <mat-icon>delete_forever</mat-icon>
  </div>

  <div class="category-income">
    <h1 class="category-name">Home</h1>
    <mat-icon>build</mat-icon>
    <mat-icon>delete_forever</mat-icon>
  </div>
</div>
