<div class="transaction-box">
  <div class="transaction-form">
    <div class="transaction-form__form">
      <div class="transaction-form__row">
        <h1 class="transactionHeader">Transaction Information</h1>
        <mat-icon class="iconStyle">build</mat-icon>
        <mat-icon class="iconStyle" (click)="deleteTrans()" mat-dialog-close
          >delete_forever</mat-icon
        >
        <mat-icon class="iconStyle" mat-dialog-close>highlight_off</mat-icon>
      </div>
      <div class="transaction-content-top">
        <div
          class="circle-box circle-red"
          *ngIf="dataOFActiveTrans.typeOfTransaction === 'expense'"
        >
          ↑
        </div>
        <div
          class="circle-box circle-green"
          *ngIf="dataOFActiveTrans.typeOfTransaction === 'income'"
        >
          ↓
        </div>
        <p>{{ dataOFActiveTrans.typeOfTransaction }}</p>

        <p
          *ngIf="dataOFActiveTrans.typeOfTransaction === 'expense'"
          class="red-amount"
        >
          {{ dataOFActiveTrans.amount }}
        </p>
        <p
          *ngIf="dataOFActiveTrans.typeOfTransaction === 'income'"
          class="green-amount"
        >
          {{ dataOFActiveTrans.amount }}
        </p>
      </div>

      <div class="transaction-content-title">{{ dataOFActiveTrans.title }}</div>
      <div class="transaction-content-category">
        {{ dataOFActiveTrans.activity }}
      </div>
      <div class="transaction-content">
        <p class="trans-field">Payment date:</p>

        <p class="date-content">{{ dataOFActiveTrans.date }}</p>
      </div>
      <div class="transaction-content">
        <p class="trans-field">Payee:</p>

        <p class="date-content">{{ dataOFActiveTrans.payee }}</p>
      </div>
      <div class="transaction-content">
        <p class="trans-field">Description:</p>

        <p class="date-content">
          {{ dataOFActiveTrans.description }}
        </p>
      </div>
    </div>
    <button class="button-close" mat-button mat-dialog-close>Close</button>
  </div>
</div>
