.sidenav {
  height: 100%;
  &__aside {
    min-width: 20rem;
  }

  &__content {
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
  }
  &__footer {
    margin-top: auto;
  }
}
