.sidenav {
  height: 100%;

  &__aside {
    min-width: 20rem;
  }

  &__content {
    // height: 100vh;
    // background-image: url(../assets/msp.png);
    // background-position: right center;
    // background-repeat: no-repeat;
    // background-size: cover;
    background-color: rgb(255, 255, 255) !important;
    display: flex;
    flex-direction: column;
  }
  &__footer {
    margin-top: auto;
  }
}
