.center-box {
  font-family: Space Grotesk;
  display: flex;
  flex-direction: column;
}

.center-header {
  display: flex;
  justify-content: space-around;
  margin-bottom: 2%;
}

.search-box {
  margin-left: 5%;
  display: flex;
  justify-content: center;
}

.my-input {
  width: 90%;
  border-radius: 3px;
  border: 1px solid rgb(156, 156, 156);
  background-color: rgb(247, 247, 247);
  min-height: 1.5rem;
}
.search-icon {
  position: relative;
  right: 32px;
  top: 0px;
  width: 24px;
  height: 24px;
  font-size: 24px;
  cursor: pointer;
}

.link-categories {
  font-family: Space Grotesk;
  text-decoration: none;
  color: black;
  cursor: pointer;
}

.link-categories:hover {
  color: #369ce5;
  transition: 0.5s ease-in-out;
}

.active {
  color: #369ce5;
}
