.center-box {
  font-family: Space Grotesk;
  display: flex;
  flex-direction: column;
}

.center-header {
  display: flex;
  justify-content: space-around;
  margin-bottom: 2%;
}

.search-box {
  margin-left: 5%;
  display: flex;
  justify-content: center;
}

.my-input {
  width: 90%;
  border-radius: 3px;
  border: 1px solid rgb(156, 156, 156);
  background-color: rgb(247, 247, 247);
  min-height: 1.5rem;
}
.search-icon {
  position: relative;
  right: 32px;
  top: 0px;
  width: 24px;
  height: 24px;
  font-size: 24px;
  cursor: pointer;
}

.link-categories {
  font-family: Space Grotesk;
  text-decoration: none;
  color: black;
  cursor: pointer;
}

.link-categories:hover {
  color: #369ce5;
  transition: 0.5s ease-in-out;
}

.transaction-box {
  margin-top: 3%;
  border-radius: 5px;
  height: 10vh;
  max-height: 250px;
  width: 100%;
  display: grid;
  grid-auto-columns: 1fr;
  grid-template-columns: 0.5fr 1.8fr 0.3fr;
  grid-template-rows: 1.7fr;
  gap: 1% 11px;
  grid-template-areas: 'left-box central-box right-box';
  background-color: #d2d1d1;
}
.left-box {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-area: left-box;
}
.right-box {
  grid-area: right-box;
}
.central-box {
  display: grid;
  grid-template-columns: 1.2fr 1.1fr 0.9fr 1fr;
  grid-template-rows: 0.3fr 1.7fr;
  gap: 0px 0px;
  grid-area: central-box;
}
.center-top {
  grid-area: 1 / 1 / 2 / 5;
}
.center-bottom {
  margin-bottom: 5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  grid-area: 2 / 1 / 3 / 5;
}
.circle-box {
  grid-area: 2 / 1 / 3 / 2;
}
.transaction-name {
  grid-area: 2 / 2 / 3 / 3;
}
.date {
  grid-area: 2 / 3 / 3 / 4;
}
.payee {
  grid-area: 2 / 4 / 3 / 5;
}

.transaction-box-button {
  max-width: 80px;
  max-height: 50px;
  height: 100%;
  width: 100%;
  background-color: #b9e2e6;
  color: white;
  border-radius: 5px;
}

.transaction-box-button:hover {
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  transition: 0.3s ease-in-out;
}

.red-amount {
  display: flex;
  justify-content: center;
  color: red;
  align-items: baseline;
}
.green-amount {
  display: flex;
  justify-content: center;
  color: #00da3a;
  align-items: baseline;
}

.circle-red {
  margin-top: 5%;
  width: 2em;
  height: 2em;
  display: flex;
  background: rgb(255, 0, 0);
  border-radius: 50%;
  color: #ffffff;
  justify-content: center;
  align-items: center;
}
.circle-green {
  margin-top: 5%;
  width: 2em;
  height: 2em;
  display: flex;
  background: #00da3a;
  border-radius: 50%;
  color: #ffffff;
  justify-content: center;
  align-items: center;
}
