<div class="center-box">
  <div class="center-header">
    <a
      *ngIf="hasId == true"
      routerLinkActive="active"
      class="link-categories"
      [routerLink]="['categories']"
      >Categories</a
    >

    <a class="link-categories" *ngIf="hasId == true">Subscription</a>
    <a class="link-categories" *ngIf="hasId == true">Obligatory</a>
    <a
      *ngIf="hasId == true"
      routerLinkActive="active"
      class="link-categories"
      [routerLink]="['statistic']"
      >Statistic</a
    >
    <a
      [hidden]="!admPermission"
      routerLinkActive="active"
      class="link-categories"
      [routerLink]="['admin']"
      >Admin</a
    >
  </div>

  <div class="search-box">
    <input class="my-input" autocomplete="off" />
    <mat-icon class="search-icon">search</mat-icon>
  </div>
  <router-outlet></router-outlet>
</div>
