<div class="left-box">
  <div class="name-box">
    <mat-icon>face</mat-icon>
    <h1 class="icon-name">{{ user?.user?.userName }}</h1>
  </div>

  <a (click)="filterByIncome()" class="box-filter">
    <div class="filter-box-content">
      <div class="circle-green">↓</div>
      <h1 class="form-size-text">Incomes</h1>
    </div>
  </a>

  <a (click)="filterByExpense()" class="box-filter">
    <div class="filter-box-content">
      <div class="circle-red">↑</div>
      <h1 class="form-size-text">Expenses</h1>
    </div>
  </a>

  <a (click)="createTransaction()" class="box-add">
    <div class="box-content">
      <div class="circle">+</div>
      <h1 class="form-size-text">Add Transaction</h1>
    </div>
  </a>

  <a (click)="createCard()" class="box-add">
    <div class="box-content">
      <div class="circle">+</div>
      <h1 class="form-size-text">Add Card</h1>
    </div>
  </a>

  <a (click)="createCategory()" class="box-add">
    <div class="box-content">
      <div class="circle">+</div>
      <h1 class="form-size-text">Add Category</h1>
    </div>
  </a>
</div>
