<div class="left-box">
  <div class="name-box">
    <h1>Name</h1>
  </div>

  <a class="add-transaction" href="#">
    <div class="sizing-box">
      <div class="arrow-green">
        <p><i class="arrow down"></i></p>
      </div>
      <p>Income</p>
    </div>
  </a>

  <a class="add-transaction" href="#">
    <div class="sizing-box">
      <div class="arrow-red">
        <p><i class="arrow up"></i></p>
      </div>
      <p>Income</p>
    </div>
  </a>

  <a href="#" class="create-box">
    <div class="sizing-box">
      <h1>+</h1>
      <p class="add-content">Add Transaction</p>
    </div>
  </a>

  <a href="#" class="create-box">
    <div class="sizing-box">
      <h1>+</h1>
      <p class="add-content" href="#">Add account</p>
    </div>
  </a>
</div>
