.left-box {
  height: 500px;
  display: flex;
  flex-direction: column;
}

.name-box {
  display: flex;
  justify-content: center;
}

.icon-name {
  line-height: 2.5rem;
  margin-left: 2%;
}

.box-filter {
  border-radius: 5px;
  margin-top: 4%;
  width: 100%;
  max-width: 300px;
  max-height: 50px;
  background-color: #d2d1d1;
  display: flex;
  justify-content: center;
  cursor: pointer;
  align-self: center;
}

.filter-box-content {
  width: 100%;
  margin-left: 10%;
  display: flex;
}

.circle-red {
  margin-top: 5%;
  width: 2em;
  height: 2em;
  display: flex;
  background: rgb(255, 0, 0);
  border-radius: 50%;
  color: #ffffff;
  justify-content: center;
  align-items: center;
}

.circle-green {
  margin-top: 5%;
  width: 2em;
  height: 2em;
  display: flex;
  background: #00da3a;
  border-radius: 50%;
  color: #ffffff;
  justify-content: center;
  align-items: center;
}

.box-filter:hover {
  background-color: #369ce5;
  transition: 0.4s ease-in-out;

  .form-size-text {
    color: white;
    transition: 0.4s ease-in-out;
  }

  .circle-red {
    background: #ffffff;
    color: #ff0202;
    transition: 0.4s ease-in-out;
  }
  .circle-green {
    background: #ffffff;
    color: #00da3a;
    transition: 0.4s ease-in-out;
  }
}

.box-add {
  align-self: center;
  border-radius: 5px;
  margin-top: 4%;
  width: 100%;
  max-width: 300px;
  max-height: 50px;
  background-color: #b9e2e6;
  display: flex;
  justify-content: center;
  cursor: pointer;
}

.box-content {
  width: 100%;
  margin-left: 10%;
  display: flex;
}

.form-size-text {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  font-size: small;
  margin-left: 3rem;
}

.circle {
  margin-top: 5%;
  width: 2em;
  height: 2em;
  display: flex;
  background: rgb(255, 255, 255);
  border-radius: 50%;
  color: #b9e2e6;
  justify-content: center;
  align-items: center;
}

.box-add:hover {
  background-color: #369ce5;
  transition: 0.4s ease-in-out;

  .form-size-text {
    color: white;
    transition: 0.4s ease-in-out;
  }

  .circle {
    background: #b9e2e6;
    color: #ffffff;
    transition: 0.4s ease-in-out;
  }
}
