<div class="transaction-box">
  <div class="transaction-form">
    <h3>Add Transaction</h3>
    <form
      [formGroup]="TransactionForm"
      (ngSubmit)="onSubmitCreateTransaction()"
      class="transaction-form__form"
    >
      <mat-form-field class="transaction-form__row" appearance="fill">
        <mat-label>Category</mat-label>
        <input
          type="text"
          matInput
          placeholder="Your category"
          formControlName="activity"
        />
      </mat-form-field>

      <mat-form-field class="transaction-form__row" appearance="fill">
        <mat-label>Title</mat-label>
        <input
          type="text"
          matInput
          placeholder="Your title"
          formControlName="title"
        />
      </mat-form-field>
      <mat-form-field class="transaction-form__row" appearance="fill">
        <mat-label>Description</mat-label>
        <input
          type="text"
          matInput
          placeholder="Your description"
          formControlName="description"
        />
      </mat-form-field>

      <mat-form-field class="transaction-form__row" appearance="fill">
        <mat-label>Sum</mat-label>
        <input
          type="number"
          matInput
          placeholder="Amount of money"
          step="0.01"
          formControlName="amount"
        />
      </mat-form-field>

      <mat-form-field class="transaction-form__row" appearance="fill">
        <mat-label>Payee</mat-label>
        <input
          type="text"
          matInput
          placeholder="John Doe"
          formControlName="payee"
        />
      </mat-form-field>

      <mat-form-field class="transaction-form__row" appearance="fill">
        <mat-label>Date</mat-label>
        <input type="date" matInput formControlName="date" />
      </mat-form-field>

      <div class="expenseIncome">
        <input
          class="expense-radio-input"
          type="radio"
          id="expense"
          value="expense"
          formControlName="typeOfTransaction"
        />
        Expense

        <label class="expense-radio" for="expense">
          <mat-icon class="expense-radio-position">arrow_upward</mat-icon>
        </label>

        <input
          class="income-radio-input"
          type="radio"
          id="income"
          value="income"
          formControlName="typeOfTransaction"
        />

        <label class="income-radio" for="income">
          <mat-icon class="income-radio-position">arrow_downward</mat-icon>
        </label>
        Income
      </div>

      <button
        *ngIf="activeId !== undefined"
        type="submit"
        color="primary"
        [disabled]="TransactionForm.invalid"
        mat-raised-button
        mat-dialog-close
      >
        Accept
      </button>
    </form>
    <button mat-button mat-dialog-close>Close</button>
  </div>
</div>
