table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

.table-size {
  width: 10rem;
}
.date-range {
  margin-top: 3%;
  border-radius: 5px;
  background-color: #e6e3e3;
  width: 100%;
  flex-direction: column;
  display: flex;
  justify-content: center;
}
