<div class="transaction-box">
  <div class="transaction-form">
    <div class="transaction-form__form">
      <div class="transaction-form__row">
        <h1 class="transactionHeader">Card Information</h1>
        <mat-icon class="iconStyle" (click)="activateEdit = !activateEdit"
          >build</mat-icon
        >
        <mat-icon class="iconStyle" mat-dialog-close (click)="deleteCard()"
          >delete_forever</mat-icon
        >
        <mat-icon class="iconStyle" mat-dialog-close>highlight_off</mat-icon>
      </div>

      <div class="transaction-content">
        <p class="trans-field">Title:</p>
        <input
          [disabled]="!activateEdit"
          type="text"
          [(ngModel)]="dataOFActiveCard.cardName"
        />
        <!-- <p class="date-content">{{ dataOFActiveCard.cardName }}</p> -->
      </div>
      <div class="transaction-content">
        <p class="trans-field">Currency:</p>
        <input
          [disabled]="!activateEdit"
          type="text"
          [(ngModel)]="dataOFActiveCard.currency"
        />
        <!-- <p class="date-content">{{ dataOFActiveCard.currency }}</p> -->
      </div>
      <div class="transaction-content">
        <p class="trans-field">Balance:</p>

        <input
          [disabled]="!activateEdit"
          type="text"
          [(ngModel)]="dataOFActiveCard.cardAmount"
        />
        <!-- <p class="date-content">{{ dataOFActiveCard.cardAmount }}</p> -->
      </div>
      <div class="transaction-content">
        <p class="trans-field">Description:</p>

        <input
          [disabled]="!activateEdit"
          type="text"
          [(ngModel)]="dataOFActiveCard.description"
        />

        <!-- <p class="date-content">
          {{ dataOFActiveCard.description }}
        </p> -->
      </div>
    </div>
    <button
      *ngIf="!activateEdit"
      class="button-close"
      mat-button
      mat-dialog-close
    >
      Close
    </button>
    <button
      *ngIf="activateEdit"
      class="button-close"
      (click)="saveAndSend()"
      mat-button
      mat-dialog-close
    >
      Save
    </button>
  </div>
</div>
